body {
background-color: rgb(224, 216, 204);
  padding-top: 55px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}
.slideteksti{
    color: rgb(32, 32, 32);
    
}
.alarivi{
    margin-top: 30px;
}
.oikeakolumni{
  margin-top: 47px;
  margin-bottom: 30px;
}
.vasenkolumni{
  margin-bottom: 30px;
}
.oikeadiv{
  margin-bottom: 50px;
}
.vasendiv{
  margin-bottom: 50px;
}
.kalliodiv{
  margin-bottom: 50px;
}
